.navbar-container {
  background: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 40px;
  padding-right: 40px;
}
.menus-btn-container-lg {
  display: none;
}
.menus-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .menus-container {
    display: block;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
}
.Home-link {
  text-decoration: none;
  margin-right: 20px;
}
.Jobs-link {
  text-decoration: none;
}
.menu-item {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
}
.logo {
  width: 100px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 130px;
    height: 40px;
  }
}
.logout-container {
  list-style-type: none;
}
.logout-btn {
  background: #4f46e5;
  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 100px;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 20px;
  display: none;
}
@media screen and (min-width: 768px) {
  .logout-btn {
    display: block;
  }
}
.icons-container-sm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .icons-container-sm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
  }
}
.icon-style {
  color: white;
  font-size: 26px;
  margin-right: 32px;
}
.icon-style3 {
  color: white;
  font-size: 26px;
  margin-right: 0px;
}
